<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout"
		layout:decorator="/admin/layout-admin">
<head>
<meta charset="UTF-8">
<title>Thêm người dùng</title>
</head>
<body>
	<div class="nk-content " layout:fragment="content">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                    <div class="nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h5 class="nk-block-title">New Customer</h5>
                                            <div class="nk-block-des">
                                                <p>Add information and add new customer.</p>
                                            </div>
                                        </div>
                                    </div><!-- .nk-block-head -->
                                    <div class="nk-block">
                                        <div class="row g-3">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="product-title">Username</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="product-title">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="product-title">Password</label>
                                                    <div class="form-control-wrap">
                                                        <input type="password" class="form-control" id="product-title">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-mb-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="regular-price">Fullname</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="regular-price">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-mb-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="sale-price">Email</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="sale-price">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-mb-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="stock">Moblie number</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="stock">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-mb-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="SKU">Address</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="SKU">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="category">Birthday</label>
                                                    <div class="form-group">
                                                        <div class="form-control-wrap">
                                                            <div class="form-icon form-icon-right">
                                                                <em class="icon ni ni-calendar-alt"></em>
                                                            </div>
                                                            <input type="text" class="form-control date-picker">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="file-upload">
                                                    <div class="image-upload-wrap">
                                                        <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
                                                        <div class="drag-text">
                                                            <p>Kéo và thả ảnh hoặc chọn thêm ảnh</p>
                                                        </div>
                                                    </div>
                                                    <div class="file-upload-content">
                                                        <img class="file-upload-image" src="#" alt="your image" />
                                                        <div class="image-title-wrap">
                                                            <button type="button" onclick="removeUpload()" class="remove-image">Remove <span
                                                                    class="image-title">Uploaded Image</span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button class="btn btn-primary"><em class="icon ni ni-plus"></em><span>Add New</span></button>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</body>
</html>